// Project
.project-46 {
  @extend %project-base;
  flex-direction: column;
  gap: 1rem;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 152, 155, 1) 0.1%,
    rgba(0, 94, 120, 1) 94.2%
  );
  .card {
    background-color: $main-color;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white;
    text-transform: uppercase;

    &.question {
      max-width: 500px;
      padding: 1rem 0rem 0;
      overflow: hidden;
      h3 {
        padding: 1rem;
      }
      label {
        text-align: left;
        padding: 0 2rem;
        font-weight: 300;
        text-transform: none;
      }
      input[type="submit"] {
        width: 100%;
        background-color: $medium-color;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
      }
    }

    &.hidden {
      display: none;
    }
    select {
      padding: 2px;
      background-color: $medium-color;
      border-radius: 5px;
      border: none;
    }
  }
}

@media (max-width: 500px) {
}
