// Project 26: Grid Loader
.project-26 {
  // @extend %project-base;
  flex-direction: column;
  position: relative;

  .form {
    top: 0;
    width: 100vw;
    padding: 0.5rem 2rem;
    background-color: #5ffbf1;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
    }
    .input {
      margin-right: 1rem;
      background-color: #009ffe;
      &::placeholder {
        color: black;
      }
    }
    .btn {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      background-color: #00f260;
      box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin: 0.5rem 0rem;
    }
  }

  .grid {
    --s: 30%;
    --f: 40%;
    width: 100vw;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-image: linear-gradient(
      to left bottom,
      #00f260,
      #00e7b5,
      #00d6f3,
      #00beff,
      #00a0ff,
      #009ffe,
      #009dfc,
      #009cfb,
      #00b7ff,
      #00d0ff,
      #00e7fb,
      #5ffbf1
    );

    .card {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      border-radius: 16px;
      overflow: hidden;
      padding-bottom: 1rem;

      .picture {
        height: 250px;
        background: linear-gradient(
          to right,
          #0000,
          #0000 var(--s),
          #009cfb var(--s),
          #009cfb var(--f),
          #0000 var(--f),
          #0000
        );
        img {
          height: 250px;
          object-fit: cover;
        }
      }

      .caption {
        padding: 1rem 1rem;
        color: #000;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .title,
        .description {
          margin-bottom: 0.5rem;
        }

        .profile {
          display: grid;
          grid-template-areas:
            "img name name"
            "img date date";
          column-gap: 15px;

          .char_status {
            align-self: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
            grid-area: img;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #5ffbf1;
            color: #24a19c;
            &.female {
              color: #f94892;
            }
            &.male {
              color: #325288;
            }
          }

          .char_species {
            grid-area: name;
            margin-bottom: 0.25rem;
          }
          .char_location {
            grid-area: date;
          }
        }
      }

      .animated-bg {
        background-image: linear-gradient(
          to right,
          #0000 0%,
          #009cfb 10%,
          #009cfb 20%,
          #0000 100%
        );
        background-size: 200% 100%;
        animation: bgPos 1s linear infinite;
      }

      .animated-bg-text {
        border-radius: 50px;
        display: inline-block;
        margin: 0;
        height: 10px;
        width: 100%;
      }
    }
  }
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

@media (min-width: 1500px) {
  .project-26 {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 900px) {
  .project-26 {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .project-26 {
    .form {
      flex-direction: column;
      align-items: center;
      .input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
      .btn {
        max-width: 100px;
      }
    }
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
